:root {
  --hover-opacity: 0;
  --hover-color: #ff9b86;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8e9dd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
}

main {
  max-width: 540px;
  width: 100%;
  height: 660px;
}

.top-box {
  background: #ec755d;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 32px;
  margin-bottom: 24px;
}

.bal-title {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 8px;
}

.bal {
  font-weight: 700;
  font-size: 32px;
  color: #fffbf6;
}

.bottom-box {
  width: 100%;
  height: 511px;
  background-color: #fffbf6;
  border-radius: 20px;
  padding: 40px;
  padding-top: 32px;
}

.bottom-box > h1 {
  font-weight: 700;
  font-size: 32px;
  color: #382314;
  margin-bottom: 66px;
}

.divider {
  margin-bottom: 32px;
  background: #f8e9dd;
  border-radius: 1px;
  height: 2px;
}

.summary-title {
  font-size: 18px;
  color: #92857a;
}

.summary-btm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.exp {
  font-weight: 700;
  font-size: 48px;
  color: #382314;
  margin-bottom: -8px;
}

.exp-percent {
  font-weight: 700;
  font-size: 18px;
  color: #382314;
}

.exp-info {
  font-weight: 400;
  font-size: 18px;
  color: #92857a;
}

.chart {
  margin-bottom: 32px;
  height: 178px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.bar {
  margin-bottom: 8px;
  background-color: #ec755d;
  border-radius: 5px;
  width: 50.4px;
  position: relative;
}

.bar-h {
  background-color: #76b5bc;
}

.bar:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.bar-h:hover {
  background-color: #b4e0e5;
}

.bar-info {
  font-size: 15px;
  color: #92857a;
  text-align: center;
}

.bar::before {
  width: 75px;
  height: 40px;
  content: attr(data-amount);
  background-color: #382314;
  font-size: 18px;
  color: #fffbf6;
  position: absolute;
  top: -48px;
  left: -12px;
  border-radius: 5px;
  opacity: var(--hover-opacity);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 550px) {
  main {
    height: auto;
    padding: 0 16px;
  }

  .top-box {
    border-radius: 10px;
    padding: 22px 20px;
    margin-bottom: 16px;
  }

  .bal-title {
    font-size: 15px;
    margin-bottom: 4px;
  }

  .bal {
    font-size: 24px;
  }

  .bottom-box {
    height: auto;
    border-radius: 10px;
    padding: 24px 20px;
  }

  .bottom-box > h1 {
    font-size: 24px;
    margin-bottom: 52px;
  }

  .divider {
    margin-bottom: 24px;
  }

  .summary-title {
    font-size: 15px;
  }

  .exp {
    font-size: 30px;
    margin-bottom: -1px;
  }

  .exp-percent {
    font-size: 15px;
  }

  .exp-info {
    font-size: 15px;
  }

  .chart {
    margin-bottom: 24px;
    height: 177px;
    width: 100%;
  }

  .bar {
    margin-bottom: 11px;
    border-radius: 3px;
    width: 33px;
  }

  .bar-info {
    font-size: 12px;
  }

  .bar::before {
    width: 50px;
    height: 30px;
    font-size: 12px;
    top: -35px;
    left: -8.5px;
    border-radius: 3px;
  }
}
